/* Reset dello stile NON CANCELLARE */
body, html{background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%, #fff 100%), url("../img/texture.webp"); 
    color:var(--bs-nero1); font-family: 'Montserrat', sans-serif; font-size: 16px; box-sizing: border-box;margin: 0;padding: 0;}*,*:before,*:after{ box-sizing: border-box; }h1,h2,h3,h4,h5,h6, p, ol, ul{margin: 0 0 1rem 0;padding: 0;}ol,ul{list-style-type: none;}img{height: auto;}h1{font-size: 4rem;} h2{font-size: 3rem;} h3{font-size: 2rem;} h4{font-size: 1rem;} h5{font-size: 0.8rem;} h6{font-size: 0.6rem;}a{text-decoration:none}


:root {
    --bs-bianco1:#F3F4F5;
    --bs-bianco2:#D9DADB;
    --bs-bianco3:#747575;
    --bs-verde1:#7FF59A;
    --bs-verde2:#72DB8B;
    --bs-verde3:#1C3622;
    --bs-nero1:#312E40;
    --bs-nero2:#6C658C;
    --bs-nero3:#9C93CC;
}


/*background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%, #fff 100%), url("../img/texture.webp"); */

.big-title{
    font-size: 32px;
    font-weight: bold;
}
.bold-title{
    font-size: 24px;
    font-weight: bold;
}
.regular-title{
    font-size: 20px;
    font-weight: 400;
}

.section1,section2,section3,section4{
    width: 100%; height: 100vh;
}

.Tundra-logo-scritta{
   width: 600px; height: 60px;
}
.Tundra-ico{
    width: 80px; height: 80px;
}

/*NAVBAR*/
.navbar-item-color{
    min-width: 100px; padding: 10px;
    color:var(--bs-verde3);
}

.navbar-item-color:hover{
    min-width: 100px; padding: 10px;
    color:var(--bs-verde1);
}

.navbar-color{
    background-color:var(--bs-bianco1);
}


/*HELPER*/
.flex{
    width: 100%; height: 100vh;
    display: flex; 
    justify-content:center; 
    align-items:center;
    flex-wrap: wrap;
}
.half{
    flex-basis: 50%;
}

body{
    text-align: center;
}



/* MOBILE*/
@media (max-width: 767px) {
    .Tundra-logo-scritta{
        width: 300px; height: 30px;
    }
    .big-title{
        font-size: 20px;
        font-weight: bold;
    }
    .bold-title{
        font-size: 16;
        font-weight: bold;
    }
    .regular-title{
        font-size: 16px;
        font-weight: 400;
    }
    .full{
        flex-basis: 100%!important;
    }

    .navbarfix {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }


}